<app-infocard [icon]="faGraduationCap" class="education"
              title="{{ 'sections.educationAndResearch.education.title' | translate }}">
  <app-timeline
    [items]="educationTimelineItems">
  </app-timeline>
</app-infocard>

<app-infocard [icon]="faSistrix" class="research"
              title="{{ 'sections.educationAndResearch.research.title' | translate }}">

  <div class="publications">
    @for (year of years; track year) {
      <h3 class="publication-year">{{ year }}</h3>

      @for (paper of publications[year]; track $index) {
        <div class="publication-item">
          {{ paper.authors }} ({{ year }}).
          <span class="publication-title">{{ paper.title }}</span>.
          In <em>{{ paper.venue }}</em>

          @if (paper.proceedingsPage) {
            (pp. {{ paper.proceedingsPage }})
          }

          . <a [href]="paper.doi" class="publication-link" target="_blank" rel="noopener noreferrer">{{ paper.doi }}</a>
        </div>
      }
    }
  </div>
</app-infocard>
