<aside class="sidebar">
  <div class="profile-section">
    <div class="avatar">
      <fa-icon [icon]="faUser" data-toggle="tooltip" data-placement="bottom"/>
    </div>

    <div class="personal-data">
      <h2 class="name">{{ 'sidebar.name' | translate }}</h2>
      <p class="role">{{ 'sidebar.role' | translate }}</p>
      <div class="location">
        <fa-icon [icon]="faLocationDot"/>
        <span>{{ 'sidebar.location' | translate }}</span>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <div class="info-grid">
    <div class="info-card">
      <fa-icon [icon]="faCode"/>
      <span class="value">4 years of industry experience</span>
    </div>
    <div class="info-card">
      <fa-icon [icon]="faGraduationCap"/>
      <span class="value">2nd year PhD student</span>
    </div>
  </div>

  <div class="divider"></div>

  <div class="social-links">
    <a class="icon-button" href="mailto:{{'sidebar.mail' | translate}}">
      <fa-icon [icon]="faEnvelope"/>
    </a>

    <a class="icon-button" href="{{ 'sidebar.gitHub' | translate}}">
      <fa-icon [icon]="faGithub"/>
    </a>

    <a class="icon-button" href="{{ 'sidebar.linkedIn' | translate}}">
      <fa-icon [icon]="faLinkedin"/>
    </a>

    <a class="icon-button" href="{{ 'sidebar.googleScholar' | translate}}">
      <fa-icon [icon]="faGoogleScholar"/>
    </a>
  </div>
</aside>
