@use 'colors' as *

.research
  background-color: $white-blue
  padding-block: 96px
  padding-inline: 24px

.content
  max-width: 1024px
  margin-inline: auto

.research-list
  display: flex
  flex-direction: row
  gap: 10px

.description
  font-size: .75rem
  margin-block: calc(0.25rem * 4)
  font-family: Inter, sans-serif
  color: $link-gray
