@use 'colors' as *

.content
  max-width: 1024px
  margin-inline: auto

.research-list
  display: flex
  gap: 10px

.description
  font-size: .75rem
  margin-block: calc(0.25rem * 4)
  font-family: Inter, sans-serif
  color: $primary-text-color
  text-align: justify

@media (min-width: 1050px)
  .research-list
    flex-direction: row

@media (max-width: 1049px)
  .research-list
    flex-direction: column
