@use 'colors' as *

.content
  max-width: 1024px
  margin-inline: auto

.side-info
  display: grid
  grid-template-columns: 2fr 1fr
  gap: 48px


.description
  display: flex
  flex-direction: column
  gap: 2rem

  p
    font-family: Inter, sans-serif
    line-height: 1.8
    color: $primary-text-color
    text-align: justify


.info
  display: flex
  flex-direction: column

.info-card
  padding-bottom: 16px
  border-bottom: 1px solid $about-me-card-border
  margin-block-end: 16px

  div
    font-family: Inter, sans-serif
    line-height: 1.4
    font-weight: 500
    color: $darker-text-color


.label
  letter-spacing: .1em
  margin-bottom: 4px
  text-transform: uppercase
  color: $primary-text-color

@media (min-width: 900px)
  .description p
    font-size: 1rem
  .label
    font-size: 12px


@media (max-width: 899px)
  .side-info
    grid-template-columns: 1fr
    gap: 3rem
  .info-card div
    font-size: 14px

  .description p
    font-size: 0.85rem
  .label
    font-size: 11px
  .info-card div
    font-size: 13px


