@use '../../../../public/assets/colors' as *

.bottom-info
  display: flex
  flex-direction: column
  gap: 5px

.content
  display: flex
  flex-direction: column
  gap: calc(0.25rem * 3.5)

.authors
  font-family: Inter, sans-serif
  font-size: 11px
  line-height: 1.375
  color: $secondary-text-color
  font-weight: 500
