@use 'colors' as *

.technical-skills
  background-color: $white-blue
  padding-block: 96px
  padding-inline: 24px

.content
  max-width: 1024px
  margin-inline: auto

.wide-screen
  display: flex
  flex-direction: row
  gap: 30px


@media (min-width: 1000px)
  .narrow-screen
    display: none
  .wide-screen
    display: flex

@media (max-width: 768px)
  .narrow-screen
    display: flex
  .wide-screen
    display: none
