$white: white
$black: black
$purple: rgb(125, 90, 255)
$background-light: #f5f5ff
$color-accent: purple
$light-purple: #ad93ff
$light-gray: #b7b7b7
$white-blue: #eff6ff
$light-blue: #dbeafe
$medium-blue: #bedbff
$medium-gray: #62748e
$txt-gray: #51515b
$link-gray: #71717b
$darker-blue: #2b52ae
$brighter-blue: #1447e6
$green: #20d16d
$dark-grey: #15171d
$muted-slate-blue: #9aa7c2
