@use 'colors' as *

.content
  max-width: 1024px
  margin-inline: auto

.project-list
  display: flex
  flex-direction: row
  gap: 10px

.side-by-side-info
  display: flex
  flex-direction: row
  align-items: center
  gap: 10px

.description
  font-size: .75rem
  margin-block: calc(0.25rem * 4)
  font-family: Inter, sans-serif
  color: $primary-text-color
  text-align: justify


