@use 'colors' as *

.content
  max-width: 1110px
  margin-inline: auto

.project-list
  display: flex
  gap: 10px

  app-infocard
    min-width: 0
    flex: 1

.side-by-side-info
  display: flex
  flex-wrap: wrap
  flex-direction: row
  align-items: center
  gap: 10px

.description
  font-size: clamp(.9rem, 1.45vw, .95rem)
  line-height: 1.65
  margin-block: 1rem
  font-family: Inter, sans-serif
  color: $primary-text-color
  text-align: left

@media (min-width: 750px)
  .project-list
    flex-direction: row

@media (max-width: 749px)
  .project-list
    flex-direction: column
