@use 'colors' as *

.description
  p
    color: $primary-text-color
    margin-bottom: 0.25rem * 8

.content
  max-width: 1024px
  margin-inline: auto

.info
  display: flex
  flex-direction: row

  > *
    flex: 1

.contact-info
  display: flex
  text-decoration: none
  justify-content: space-between
  flex-direction: row
  align-items: center
  fa-icon
    color: $primary-text-color
    font-size: 12px

.data
  color: $primary-text-color

.contact-list
  display: flex
  flex-direction: column
  gap: 10px

.line
  margin-top: 10px
  margin-bottom: 5px
  height: 0.5px
  background-color: $contact-card-border

.title
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
  display: block
  margin-bottom: .5rem
  font-size: .75rem
  line-height: 1.2
  letter-spacing: .1em
  color: $secondary-text-color
  text-transform: uppercase

.email
  display: inline-flex
  flex-direction: row
  align-items: center
  gap: 10px
  text-decoration: none
  background-color: $contact-email-background-color
  font-weight: 500
  color: $contact-email-text-color
  padding: 10px 25px
  border-radius: 8px
