@use 'colors' as *

.about-me
  max-width: 1024px
  margin-inline: auto
  display: grid
  grid-template-columns: 1.1fr auto
  align-items: center

.title
  font-size: clamp(2.8rem, 6vw, 5rem)
  line-height: 1
  font-weight: 700
  margin-bottom: 1rem

.subtitle
  color: $intro-subtitle-text-color
  font-size: 1.125rem
  font-weight: 500
  line-height: 1rem
  margin-bottom: 1rem

.description
  font-family: Inter, sans-serif
  max-width: 576px
  font-size: 16px
  line-height: 1.625
  color: $primary-text-color
  margin-bottom: 2rem

.content
  display: flex
  flex-direction: column

.badge
  font-family: Inter, sans-serif
  width: fit-content
  display: flex
  align-items: center
  gap: 8px
  padding-inline: 12px
  padding-block: 6px
  border-radius: calc(infinity * 1px)
  border: 1px solid $intro-badge-border
  background: $intro-badge-background
  color: $primary-text-color
  font-size: .75rem
  margin-bottom: calc(0.25rem * 8)


.dot
  width: 9px
  height: 9px
  border-radius: 50%
  background: $intro-badge-dot-color


.location
  display: flex
  align-items: center
  gap: 6px
  color: $primary-text-color
  font-size: 1rem
  margin-bottom: 3rem
  span
    font-family: Inter, sans-serif
    font-size: 14px
    line-height: 1.5

.social-links
  display: flex
  gap: 1.4rem

  a
    color: $secondary-text-color
    font-size: 1.4rem
    transition: .25s
  a:hover
    color: $intro-icon-hover-color


.image
  display: flex
  justify-content: center
  img
    width: 256px
    height: 256px
    aspect-ratio: 1
    object-fit: cover
    border-radius: 50%
    border: 6px solid $intro-image-border-color
    box-shadow: 0 20px 40px rgba(0,0,0,.12)


@media (max-width: 1050px)
  .about-me
    grid-template-columns: 1fr
    text-align: center

  .content
    align-items: center

  .description
    max-width: 100%

  .image
    order: -1
    margin-bottom: 2rem
