<header>
  <div class="navbar">
    <p>Victória Gomes</p>

    <nav class="nav-links">
      <a href="#about">{{ ('navbar.about' | translate) }}</a>

      <a href="#background">{{ ('navbar.background' | translate) }}</a>

      <a href="#technical-skills">{{ ('navbar.technical-skills' | translate) }}</a>

      <a href="#projects">{{ ('navbar.projects' | translate) }}</a>

      <a href="#research">{{ ('navbar.research' | translate) }}</a>

      <a href="#publications">{{ ('navbar.publications' | translate) }}</a>

      <a href="#contact">{{ ('navbar.contact' | translate) }}</a>
    </nav>

    <!--  <button>Expand</button>-->
  </div>
</header>
