@use 'colors' as *

app-navbar
  margin: 20px 0

.content
  padding: clamp(5rem, 10vw, 8rem) 0 0
  display: flex
  flex-direction: column
  flex: 1
  overflow-y: auto

app-intro
  margin-bottom: 20px

footer
  box-sizing: border-box
  padding-block: 1.5rem
  padding-inline: clamp(1rem, 4vw, 1.5rem)
  max-width: 1110px
  width: 100%
  margin-inline: auto

  span
    font-size: clamp(.75rem, 1.5vw, .8rem)
    line-height: 1.5
    color: $primary-text-color
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
