@use 'colors' as *

app-navbar
  margin: 20px 0

.content
  padding: 128px 0 0 0
  display: flex
  flex-direction: column
  flex: 1
  overflow-y: auto

app-intro
  margin-bottom: 20px

footer
  box-sizing: border-box
  padding-block: 0.25rem * 6
  padding-inline: 0.25rem * 6
  max-width: 1024px
  width: auto
  margin-inline: auto
  span
    font-size: .8rem
    color: $primary-text-color
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace

@media (max-width: 650px)
    footer
      span
        font-size: .7rem
