.app-container
  min-height: 100%
  overflow: hidden
  align-items: flex-start
  margin-top: 50px

app-sidebar
  align-items: center

app-navbar
  margin: 20px 0

.content
  padding: 128px 0 128px 0
  display: flex
  flex-direction: column
  flex: 1
  overflow-y: auto

app-intro
  height: 100vh

//@media(max-width: 1449px)
//  .app-container
//    display: flex
//    flex-direction: column
//  app-sidebar
//    width: 100%
//  .content
//    margin: 0 30px
//
//@media (min-width: 1450px)
//  app-sidebar
//    position: fixed
//    display: flex
//  .app-container
//    display: flex
//    flex-direction: row
//    gap: 35px
//    padding: 40px
//  .content
//    margin-left: 315px
//
//@media (max-width: 768px)
//  .content
//    margin: 0
