@use 'colors' as *

fa-icon
  font-size: 20px

.sidebar
  border-radius: 20px
  max-height: max-content
  background: $white
  border: 2px solid rgba($purple, .15)
  padding: 40px 30px
  display: flex
  flex-direction: column
  align-items: center
  overflow-y: auto
  justify-content: space-evenly
  box-sizing: border-box


.profile-section
  text-align: center
  display: flex
  align-items: center

.avatar
  width: 120px
  height: 120px
  border-radius: 50%
  background: rgba($purple, .15)
  border: 4px solid rgba($purple, .15)
  display: flex
  align-items: center
  justify-content: center
  box-shadow: 0 0 20px rgba(140, 94, 255, .2), inset 0 0 20px rgba(140, 94, 255, .15)

  fa-icon
    font-size: 50px

.name
  margin: 10px 0

.role
  color: $light-purple
  margin: 0

.location
  margin-top: 10px
  display: flex
  justify-content: center
  align-items: center
  color: $light-gray
  font-size: 0.75rem


.social-links
  display: flex
  justify-content: space-between

.icon-button
  width: 48px
  height: 48px
  background: $white
  border: 1px solid rgba($purple, .15)
  border-radius: 15px
  color: $light-purple
  cursor: pointer
  transition: .3s
  display: flex
  justify-content: center
  align-items: center

.info-card
  padding: 16px
  display: flex
  flex-direction: row
  gap: 8px
  transition: .3s
  align-items: center

  fa-icon
    color: $light-purple


.value
  font-size: 15px

.personal-data
  display: flex
  flex-direction: column

@media(hover: hover)
  .info-card:hover
    border-color: rgba(125, 90, 255, .35)
    transform: translateY(-3px)
  .icon-button:hover
    transform: translateY(-4px)
    border-color: #7d5aff
    box-shadow: 0 0 20px rgba(125, 90, 255, .3)

@media(max-width: 999px)
  .sidebar
    margin: 15px 15px 0 15px
    flex-direction: column
  .profile-section
    flex-direction: row
    gap: 10px
  .divider
    width: 100%
    height: 1px
    margin: 20px 0
    background: linear-gradient(to right, transparent, rgba($purple, .35), transparent)
  .social-links
    display: flex
    gap: 10px
    justify-content: center
    align-content: center
    flex-wrap: wrap
  .info-card
    padding: 8px

@media (max-width: 768px)
  .sidebar
    margin: 15px 15px 0 15px
  .info-card
    padding: 8px

@media(min-width: 1000px)
  .avatar
    margin-right: 15px
  .sidebar
    margin: 20px 30px 0 30px
    align-items: stretch
  .profile-section
    flex-direction: row
    gap: 10px
  .sidebar
    flex-direction: row
  .divider
    margin: 0 30px
    background: linear-gradient(to bottom, transparent, rgba($purple, .35), transparent)
    width: 1px
  .social-links
    display: flex
    gap: 10px
    justify-content: center
    align-content: center
    flex-wrap: wrap
  .info-grid
    align-content: center

@media(min-width: 1450px)
  .sidebar
    width: 300px
  .profile-section, .sidebar
    flex-direction: column
  .divider
    width: 100%
    height: 1px
    margin: 30px 0
    background: linear-gradient(to right, transparent, rgba($purple, .35), transparent)
  .social-links
    width: 100%
