@use 'colors' as *

body
  background-color: $white
  display: flex
  justify-content: center
  margin: 0
  padding: 0

h1, h2, h3, h4, h5
  margin: 0
  padding: 0

@font-face
  font-family: 'vag-rundschrift-d bold'
  src: url('assets/fonts/VAGRundschriftD.ttf') format('truetype')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'vag-rundschrift-d'
  src: url('assets/fonts/VAGRounded-Light Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

h1, h2
  font-family: "vag-rundschrift-d bold", sans-serif
  font-weight: bold

h3, h4, h5, a, p, span
  font-family: "vag-rundschrift-d", sans-serif
  font-weight: normal

