@use 'colors' as *
@use '@angular/material' as mat

.selectedLanguage
  @include mat.button-overrides((text-label-text-color: $primary-text-color))


header
  width: 100%
  backdrop-filter: blur(8px)
  box-shadow: 0 0 20px rgba(125, 90, 255, .08)
  border-bottom: 2px solid rgba($navbar-border, 0.5)
  background-color: color-mix(in oklab, $background-default-color 95%, transparent)
  position: fixed
  z-index: 100

.mdc-button
  min-width: 0

.mat-mdc-button
  padding: 0

fa-icon
  color: $primary-text-color
  font-size: 13px

.navbar
  height: 60px
  top: 0
  max-width: 1024px
  display: flex
  align-items: center
  padding-inline: 24px
  margin-inline: auto
  justify-content: space-between

.nav-links
  display: flex
  align-items: center
  gap: 30px

.nav-links a
  position: relative
  font-family: Inter, sans-serif
  color: $primary-text-color
  text-decoration: none
  font-size: 14px
  transition: .3s
  font-weight: 500

p
  font-weight: 700

.nav-links a::after
  content: ""
  position: absolute
  width: 0
  bottom: -10px
  height: 2px
  background: $navbar-link-hover-underline-color
  transition: .3s

@media(hover: hover)
  .nav-links a:hover
    color: $navbar-link-hover-text-color

  .nav-links a:hover::after
    width: 100%

@media (min-width: 1000px)
  .hamburger
    display: none

@media (max-width: 999px)
  .hamburger
    display: flex
    z-index: 1001

  .hamburger.active span:nth-child(1)
    transform: rotate(45deg) translate(6px, 6px)

  .hamburger.active span:nth-child(2)
    opacity: 0

  .hamburger.active span:nth-child(3)
    transform: rotate(-45deg) translate(6px, -6px)

  .nav-links
    display: none
    flex-direction: column
    position: absolute
    top: 60px
    right: 0
    background-color: #fff
    padding: 2rem
    box-shadow: 0 4px 6px rgba(0,0,0,0.1)
    z-index: 1000

  .nav-links.active
    display: flex

