<section id="publications" class="publications">
  <div class="content">
    <app-section-header
      number="{{('publications.sectionId' | translate)}}"
      title="{{('publications.title' | translate)}}">
    </app-section-header>
    <p class="description" [innerHTML]="('publications.description' | translate)"></p>

    <div class="publicationList">

      @for (section of publicationSections(); track section.title) {
        <div>
          <div class="header">
            <h3>{{ (section.title | translate) }}</h3>
            <h5>{{ (section.subtitle | translate) }}</h5>
          </div>
          @let preview = getPublicationPreview(section.publications);

          <app-publication-list
            [publicationList]="preview">
          </app-publication-list>

          @if (getPublicationListSize(section.publications) > 2) {
            <div class="view-all-container">
              <button
                class="view-all-button"
                (click)="openPublications(section)">
                {{ ('publications.expandAll' | translate) }}
              </button>
            </div>
          }
        </div>
      }


      @if (selectedPublicationSection) {
        <div class="modal-overlay" (click)="closePublications()">

          <div class="modal-content" (click)="$event.stopPropagation()">

            <button
              class="close-button"
              (click)="closePublications()">
              ×
            </button>

            <h2>{{ selectedPublicationSection.title | translate }}</h2>

            <p>{{ selectedPublicationSection.subtitle | translate }}</p>

            <app-publication-list
              [publicationList]="selectedPublicationSection.publications">
            </app-publication-list>

          </div>

        </div>
      }

    </div>
  </div>
</section>
